@{
    ViewData["Title"] = "carga";
}
<body>
    <div id="cargando" class="cargando">
        <img src="preguntadosjpg.webp" alt="Logo" class="logo">
        <div class="spinner"></div>
    </div>
    <script src="site.js"></script>
</body>