<body class="Fin">
    <div class="wrapper">
        <div class="panel">
            <h1>¡Gracias por jugar!</h1>
            <p>¡Esperamos que vuelvas a jugar pronto!</p>
            <a href='@Url.Action("Index")' class="cta-button">Volver al Inicio</a>
        </div>
    </div>
</body>