@{
    ViewData["Title"] = "Index";
}

<body>
    <header>
        <img src="texto.png" alt="" width="100%">
    
    <div class="button-container">
        <a href="inicio.html" class="btn">Inicio</a>
        <a href="configuracion.html" class="btn btn-config">Configuración</a>
    </div>
    </header>
</body>

