@{
    ViewData["Title"] = "Index";
}

<body class="index">
    
    <section>
        <div>
        </div>
            <img src="~/img/texto.png" alt="" width="100%">
        <div>
            <div class="button-container">
            <a href='@Url.Action("inicio")'  class="btn">inicio</a>
            <a href='@Url.Action("ConfigurarJuego")' class="btn btn-config">Configuración</a>
        </div>
    </section>
</body>

