@{
    ViewData["Title"] = "Index";
}

<div>
<img src="..." class="img-thumbnail" alt="...">
</div>
<div>
<button type="button" class="btn btn-primary btn-lg">Inicio</button>
<button type="button" class="btn btn-primary btn-lg">Configuracion</button>
</div>

