body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  background-color: #6d12d6 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index{
  background-size: cover;
  display: flex;
  background-image: url('../img/fondo.webp');
  justify-content: center;
}

.logo {
  
  width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-bottom: 10%; /* Ajusta el espacio entre la imagen y el spinner */
 margin-left: 25%;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: 48%;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.contenido {
  display: none;
  text-align: center;
}

.contenido.mostrar {
  display: block;
}

section{
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  margin-top: 7%;
  align-items: center;
  justify-content: center;
  opacity: 85%;
}

.button-container {
  text-align: center;

}

.btn {
  display: block;
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  font-size: 24px;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007bff;
}

.btn-volver {
  background-color: #000000; /* Negro */
  color: #ffffff; /* Blanco */
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.btn-volver:hover {
  background-color: #333333; /* Gris oscuro para el efecto hover */
}
.titulo {
  font-size: x-large;
  color: #ffffff;
  text-align: center;
}


.wrapper {
  width: 80%;
  max-width: 34.37em;
  max-height: 90vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
#wheel {
  max-height: inherit;
  width: inherit;
  top: 0;
  padding: 0;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#spin-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 26%;
  width: 26%;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
  color: #c66e16;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  font-weight: 600;
}
#final-value {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
  color: #202020;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 12px;
  }
}
.custom-form {
  margin-top: 20%;
  background-color: white;
  border: 2px solid #ce93d8; /* Borde violeta claro */
  padding: 2rem;
  border-radius: 20px; /* Bordes circulares */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.custom-form .btn-primary {
  background-color: #7b1fa2; 
  border-color: #6a1b9a; 
}

.custom-form .btn-primary:hover {
  background-color: #6a1b9a; 
  border-color: #4a148c;
}

.form-label {
  color: #6a1b9a; 
}

.custom-form select, 
.custom-form input {
  border-color: #ce93d8; }
main{
  width: 50%;
}

.IndexFondo{
  background-image: url("../img/IndexBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.FinFondo{
  background-image: url("../img/FinBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Boton-Index{
  transition: all 0.5s ease-out !important;
}

.Boton-Index:hover{
  transform: scale(1.2);
}
.confi{
  background-image: url("../img/formulario-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  max-height: 170vh;
}

.formulario{
  margin-top: 8%;
  border-radius: 30px;
}

.titulo{
  text-align: left; 
  font-family: Arial Black;
  font-size: 30px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin: 2%;
}

.juego{
  min-width: 100vw;
  min-height: 100vh;
}

.nombreUsuario, .puntaje{
  margin: 30px;
  font-size: 30px; /* Tamaño del texto */
  color: #000000; /* Color del texto */
  padding: 10px;
  border-radius: 20px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra del texto */
  display: inline-block;
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */  
}

.pregunta{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:5%;
  padding: 100px;
  border-radius: 50px;
}

.Opciones{
  padding: 20px;
}

.respuesta-btn, .respuesta-btn-correcto, .respuesta-btn-correctoTrue, .respuesta-btn-correctoFalse{
  border: none; 
  border-radius: 8px;
  padding: 15px;
  font-size: 1.2rem;
  text-align: left;
  min-width: 50vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-left: 25%;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.respuesta-btn:hover{
  background-color: gainsboro;
    transform: scale(1.05);
}